.slider {
    display: block;
    height: 570px;

    &__item {
        display: block;
        height: 570px;

        &--cover {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.link {
    padding: 10px 34px;
    position: absolute;
    z-index: 1;
    bottom: 50px;
    font-size: 18px;
}