.submitClaimImage {
  width: 223px;
  height: 60px;
  justify-content: center;
  z-index: 1;
  position: absolute;
  line-height: 44px;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
  top: 547px;
  left: 748px;
  border-radius: 14px;
  background-color: #FD9B28;
  border: none;
  color: #FFFFFF;
}

.question {
  display: flex;
  justify-content: center;
  margin: 40px;
  color: #0D6693;
  font-size: 30px;
  font-weight: 700;
  line-height: 44px;
}

.optionsProblem {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
  justify-content: center;
  margin-left: 100px;
  margin-right: 100px;
}

.optionsProblem>div {
  width: 358px;
  height: 199px;
  min-width: 250px;
  text-align: center;
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.optionsProblem h3 {
  margin-bottom: 10px;
  font-size: 16px;
  /* Adjust heading size */
  color: #4D4D4D;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
}

.optionsProblem hr {
  border: none;
  /* Remove the default border */
  border-top: 2px solid #0D6693;
  /* Customize the color and thickness */
  margin: 10px 0;
  /* Add spacing above and below the hr */
}

.optionsProblem p {
  font-size: 15px;
  /* Adjust font size for better readability */
  line-height: 20px;
  /* Improve text spacing */
  color: #717171;
  font-weight: 400;
}

@media (max-width: 768px) {
  .optionsProblem>div {
    width: 45%;
    /* Two options per row */
  }
}

@media (max-width: 480px) {
  .optionsProblem>div {
    width: 100%;
    /* One option per row */
  }
}


.headerOfSection {
  margin-top: 50px;
  text-align: center;
  margin-bottom: 20px;
}

.headerOfSection h3 {
  margin: 10px 0;
  font-size: 30px;
  line-height: 44px;
  font-weight: 700;
}

.headerOfSection h3:first-of-type {
  color: #0D6693;
}

.headerOfSection h3:first-of-type span {
  color: #FD9B28;
  font-weight: bold;
}

.headerOfSection h3:last-of-type {
  color: #FD9B28;
}


.sectionThree {
  margin-left: 250px;
  margin-right: 250px;
}

.cards {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding-top: 40px;
}

.cards>div {
  width: 308px;
  height: 342px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.cards h3 {
  background-color: #0D6693;
  color: #ffffff;
  padding: 25px;
  margin: 0;
  font-weight: 700;
  line-height: 22px;
  font-size: 20px;
  text-align: center;
}

.cards p {
  background-color: #ffffff;
  color: #717171;
  padding: 25px;
  font-size: 15px;
  line-height: 22px;
  margin: 0;
  text-align: justify;
}

@media (max-width: 768px) {
  .cards {
    flex-wrap: wrap;
    gap: 15px;
  }

  .cards>div {
    width: 100%;
  }
}