


.submitClaimImage {
    width: 223px;
    height: 60px;
    position: absolute;
    line-height: 44px;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    align-items: center;
    top: 547px;
    left: 748px;
    border-radius: 14px;
    background-color: #FD9B28;
    border: none;
    color: #FFFFFF;
  }
  