.search {
    &__text {
        margin: 0;
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: 700;
        line-height: 25px;  
        color: #000;
    }

    &__status {
        max-width: 70%;
        margin: 0 auto 45px auto;
        padding: 14px 32px 14px 32px;
        border-radius: 4px;
        background-color: #0044FEF7;   
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        text-align: center;

    }

    &__btn {
        width: 100%;
        padding: 14px 32px 14px 32px;
        border-radius: 4px;
        background-color: #4CAF4FF7;   
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        text-align: center;
        border: none;
        cursor: pointer;
        color: #fff;
    }
}