.formContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  max-width: 100%;
}

.headerForm {
  display: flex;
  justify-content: center;
  gap: 125px;
  margin: 30px;
}

.bgColor {
  background-color: #F8FAFD;
}

.formDiv {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .formContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}

.problemSection {
  margin-top: 30px;
}

.problemLabel {
  display: block;
  width: 100%;
  margin-top: 10px;
}

.problemTextarea {
  width: 100%;
  min-height: 120px;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical; /* Allows resizing vertically */
  outline: none;
}

.problemTextarea:focus {
  border-color: #007bff; /* Highlight border on focus */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
