.formContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  max-width: 100%;
}

.headerForm {
  display: flex;
  justify-content: center;
  gap: 125px;
  margin: 30px;
}

.bgColor {
  background-color: #F8FAFD;
}

.formDiv {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .formContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}