.header {
    display: block;
    background-color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 5;

    &__content {
        width: 100%;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px; 
    }

    .container {
        padding: 0 16px; 
    }
}

.sublng {
    display: flex;
    align-items: center;
}

.submitlink {
    padding: 6px 31px;
    font-size: 1rem; // Default font size
    background-color: #007bff; // Example background color
    border: none;
    color: #fff;
    border-radius: 4px;
    transition: all 0.3s ease;

    &:hover {
        background-color: #0056b3; // Example hover color
    }
}

@media (max-width: 640px) {
    .submitlink {
        margin-right: 90px;
        padding: 4px 20px; // Adjust padding for smaller screens
        font-size: 0.9rem; // Adjust font size for smaller screens
    }

    .container {
        padding: 0 8px;
    }

    .submitlink {
        flex: 0 1 auto;
    }

    .language {
        display: none;
    }
}