
.textInput {
    display: flex;
    align-items: center;
    padding: 10px; 
    border: 1px solid #0D6693;
    border-radius: 6px;
    background-color: #fff;
    transition: border-color 0.3s ease;
    width: 263px;
    height: 40px;
  
    &:focus-within {
      border-color: #007bff; 
    }
  }
  
  .textInput__icon {
    width: 13px;
    height: 13px;
    margin-right: 8px;
  }
  
  .textInput__input {
    flex: 1;
    border: none;
    outline: none; 
    font-size: 1rem;
    padding: 0; 
    background: transparent; 
  }
  